<div class="explorer-container" fxLayout="column">
  <nz-page-header nzTitle="Definition editor" (nzBack)="back()"></nz-page-header>
  <div fxLayout="row" class="explorer-view" fxFlex="1 1 auto">
    <div fxLayout="column" fxFlex="0 0 300px">
      <input nz-input type="text" [ngModel]="''" (ngModelChange)="sheetFilter$.next($event)"
             placeholder="Search for a definition...">
      <div fxLayout="column" fxFlex="1 1 auto" class="definition-list">
        <div class="definition-list-row" [class.selected]="definition.selected"
             *ngFor="let definition of definitionsList$ | async" (click)="selectDefinition(definition.sheet)">
          {{definition.sheet}}
        </div>
      </div>
    </div>
    <div fxFlex="1 1 auto" class="definition-display">
      <div *ngIf="selectedDefinition$ | async as definition; else noDefinitionSelected" class="editor-container"
           fxLayout="column">
        <div fxLayout="row" class="editor-topbar">
          <button nz-button nz-tooltip nzTooltipTitle="Index shift" (click)="indexShift(definition)">
            <i nz-icon nzType="swap"></i>
          </button>
        </div>
        <json-editor class="editor" fxFlex="1 1 auto"
                     [options]="editorOptions" [data]="definition"></json-editor>
      </div>
      <ng-template #noDefinitionSelected>
        <nz-empty nzNotFoundContent="No selected definition"></nz-empty>
      </ng-template>
    </div>
  </div>
</div>
