:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: 100%;
}

.explorer-container {
  max-height: 100%;
  overflow: hidden;
}

.explorer-view {
  border: 1px solid #666;
  border-radius: 4px;
  overflow: hidden;

  .definition-list {
    overflow-y: auto;
    border-right: 1px solid #666;

    .definition-list-row {
      padding: 5px;
      cursor: pointer;
      border-bottom: 1px solid #666;

      &.selected {
        background-color: #1890ff;
      }
    }
  }

  .definition-display {
    padding: 10px;
    overflow: auto;
  }

  .editor-container {
    height: 100%;
  }

  .editor-topbar {
    padding: 5px;
    background-color: #1890ff;
  }
}
